[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "roundyh"]
	path = roundyh
	url = https://github.com/cran/roundyh
[submodule "stratifiedyh"]
	path = stratifiedyh
	url = https://github.com/cran/stratifiedyh
